.open-popup {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  width: 70%;
  max-width: 500px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
h1 {
  margin-bottom: 20px;
}

.bkash-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  text-align: left;
}

input[type="tel"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#open-popup {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center !important;
  align-items: center !important;
}

.popup-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 342px;
  height: 425px;
  text-align: center;
  position: relative;
}
.popup-content img {
  width: 81px;
}
hr {
  border: 3px solid #e2146e;
  margin-right: -20px;
  margin-left: -20px;
}
.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0px;
}
.left-content {
  display: flex;
  align-items: center;
}
.cart img {
  width: 40px;
  padding-right: 5px;
}
.token-number {
  margin: 0px;
  font-size: 12px;
}
.invoice_number {
  margin: 0px;
  color: #b7b7b7;
  padding-left: 5px;
  font-size: 12px;
}

.close-button {
  font-size: 16px;
  cursor: pointer;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form-popup {
  margin-bottom: 10px;
  align-items: center;
  padding-top: 10px;
}

button[type="submit"] {
  background-color: #005c9d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
.background-img {
  background-image: url("style/background.png");
  width: 340px;
  height: 180px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  padding-top: 40px;
}
.p_title {
  font-size: 12px;
  color: black;
  margin-right: 150px;
}
.p_title1 {
  font-size: 12px;
  color: black;
  margin-right: 170px;
}
.p-details {
  font-size: 9px;
  font-weight: 200;
}
.phone-number {
  width: 250px;
}

/* popup buttons  */
button[type="button"],
button.open-nested-popup {
  background-color: #005c9d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button[type="button"]:hover,
button.open-nested-popup:hover {
  background-color: #005c9d;
}
.divider {
  background-color: #bcbcbc;
  width: 1px;
  height: 30px;
}
.footer-button {
  display: flex;
  justify-content: space-evenly;
  background-color: #d1d3d4;
  align-items: center;
  margin-top: 43px;
  width: 340px;
}
.footer-button-3 {
  display: flex;
  justify-content: space-evenly;
  background-color: #d1d3d4;
  align-items: center;
  margin-top: 62px;
  width: 340px;
}
.phone-number {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.phone-number {
  text-align: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.footer img {
  width: 20px;
  padding-right: 7px;
}
.footer-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e2146e;
}
.insert {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 190px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
.insert-r {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 74px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
.insert-2nd {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
/* nagad  */
.nagad {
  background-image: url("style/nagad.png");
  width: 300px;
  height: 500px;
  margin-top: 30px;
}
#language {
  width: 50px;
  padding-left: 258px;
}
#nagad-cart {
  width: 70px;
}
.nagad-title {
  color: #cccccc;
  font-size: 16px;
  margin-top: 0px;
}
.nagad-p {
  color: #cccccc;
  text-align: left;
  font-size: 11px;
}
.n_title {
  color: #cccccc;
  font-size: 11px;
}
.token-nagad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.n-details {
  color: #cccccc;
  font-size: 9px;
}
.card-top {
  display: flex;
  margin-top: 35px;
}
.card-right {
  padding-right: 10px;
}
.card-left {
  width: 227px;
}
.p_title_2nd {
  margin-right: 192px;
  font-size: 12px;
  color: black;
}
.p_title_3rd {
  margin-right: 204px;
  font-size: 12px;
  color: black;
}
.insert-exp-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 74px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
.insert-exp-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 112px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
.insert-exp-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 74px;
  height: 35px;
  border: 0px;
  background-color: #f0f0f0;
  margin-right: 120px;
  border-radius: 5px;
}
.exp-d {
  width: 96px;
}
.exp-m {
  width: 127px;
}
.card-top-exp {
  display: flex;
  margin-top: -33px;
}
.footer-button-4 {
  display: flex;
  justify-content: space-evenly;
  background-color: #005c9d;
  align-items: center;
  margin-top: 43px;
  width: 304px;
  border-radius: 5px;
}

.footer-button-card {
  display: flex;
  justify-content: space-evenly;
  background-color: #005c9d;
  align-items: center;
  margin-top: 43px;
  width: 304px;
  border-radius: 5px;
  gap: 2px;
}
.p_title-vc {
  font-size: 12px;
  color: black;
  margin-right: 123px;
}
.p_title-pin {
  font-size: 12px;
  color: black;
  margin-right: 168px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #7f7f7f !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.back {
  text-decoration: none;
  color: white;
}
.modal-content-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: white !important;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
